html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	background-color: #111827d6;
}

.container {
	background-color: black;
	padding: 16px;
	border-radius: 22px;
}

.output {
	height: 90px;
	border: 2px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 8px;
	font-size: 34px;
	margin-bottom: 8px;
	border-radius: 6px;

	background-color: #b2b9b7;
}

.num-pad {
	display: grid;
	grid-template-columns: 90px 90px 90px 90px;
	grid-template-rows: 90px 90px 90px 90px 90px;

	gap: 8px;
}

.box {
	border-radius: 6px;
	font-weight: 600;
	font-size: 24px;
}

.num {
	background-color: #217c7e;
}

.red {
	background-color: red;
}

.blue {
	background-color: dodgerblue;
}
